<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <title>Pricing</title>
    <link rel="stylesheet" type="text/css" href="/static/pricingv000012.css" />
    <link rel="canonical" href="https://quvi.ai" />
  </head>
  <body>
    <div class="page1">
      <header class="header">
        <a class="logo" href="/">
          <img
            src="/static/images/background/quick_vision_studios.png"
            alt="q logo" />
        </a>
      </header>
      <span class="pricing">Pricing</span>

      <div class="box">
        <div class="box- gloww">
          <div class="standard"><span>Standard</span></div>
          <div class="decorationn"></div>

          <span class="dollar"
            ><p class="textt">2000</p>
            <img class="coin-img" src="/static/images/coinn2.png" alt="coin icon png" />
            <p class="texttt">10$</p></span
          >
          <button href="#" class="purchase">Purchase</button>
        </div>

        <div class="box- glow">
          <div class="standard"><span>Discount</span></div>

          <div class="decorationn"></div>
          

          <span class="dollar"
            ><p class="textt">4000</p>
            <img class="coin-img" src="/static/images/coinn2.png" alt="coins icon png" />
            <p class="texttt">15$</p></span
          >

          <button href="#" class="purchase">Purchase</button>
        </div>
      </div>
      <div class="qcointext">
        <p>
          Q.Coin is a token. You can only use it within the quvi.ai website. You
          can use Q.Coins to create digital products produced with ai support.
        </p>
      </div>
      <footer class="altheader">
        <a class="footer-text"
          >Quick Vision Studios 2024. All Rights Reserved.</a
        >
        <div class="center">
          <nav>
            <a href="https://x.com/quviai" target="_blank"
              ><img src="/static/images/icons/x.png" alt="x icon"
            /></a>
            <a href="https://tr.pinterest.com/quickvisionai/" target="_blank"
              ><img src="/static/images/icons/pinterest.png" alt="pinterest icon"
            /></a>
            <a href="https://www.instagram.com/quviai/" target="_blank"
              ><img src="/static/images/icons/instagram.png" alt="instagram icon"
            /></a>
            <a href="https://www.linkedin.com/company/quick-vision-studios" target="_blank"
              ><img src="/static/images/icons/linkedin.png" alt="linkedin icon"
            /></a>
            <a href="https://www.youtube.com/@quviai" target="_blank"
              ><img src="/static/images/icons/youtube.png" alt="youtube icon"
            /></a>
          </nav>
        </div>
        <div class="right">
          <a href="{% url 'term-of-use' %}">Terms of Use</a>
          <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
          <a href="{% url 'about-us' %}">About Us</a>
          <a href="#">Pricing</a>
        </div>
      </footer>
    </div>
  </body>
</html>
